body{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 18px;
padding: 0;
margin: 0 auto !important;
width: 600px;
background-color:#F2F3F4   ;
}

fieldset{
	padding:  1em;
	margin: 1em 0;
	border: 1px solid #ccc;
	background: #f8f8f8;
}

legend{
font-weight:  bold;
}

label{
cursor: pointer;
display: block;
}

input {
width: 25em;
}

textarea{
	width: 20em;
	height: 10em;
}

input.radio, input.checkbox, input.submit{
	width: auto;
}
.radio{
	margin-right: 1em;
}